streamlit
streamlit-shadcn-ui
pandas
numpy
plotly
scikit-learn
xgboost
joblib
nltk
vaderSentiment
google-genai
python-dotenv
openpyxl
wordcloud
google
matplotlib
scipy
sentence-transformers
torch
reportlab
pymupdf
python-docx
catboost
torchvision
