streamlit
streamlit-shadcn-ui
pandas
numpy
plotly
scikit-learn
xgboost
joblib
nltk
vaderSentiment
google-generativeai
python-dotenv
openpyxl
wordcloud
matplotlib
scipy
sentence-transformers
torch
reportlab
pymupdf
python-docx
