streamlit
pandas
numpy
plotly
scikit-learn
xgboost
joblib
nltk
vaderSentiment
google
python-dotenv
openpyxl
wordcloud
matplotlib
scipy
joblib
scikit-learn
python-dotenv
google-generativeai
sentence-transformers
torchvision
streamlit_shadcn_ui
datetime
json
reportlab
pymupdf
docx
